html,body{
    font-family: "Inter", sans-serif;
    font-size: 14px;
}
.wrapper{
    max-width: 1366px;
    width: 100%;
    margin: auto;
    margin-right: auto;
}
:root {
    --do: rgba(234, 67, 53, 1);
    --vang: rgba(226, 182, 68, 1);
    --xanhlacay: rgba(81, 183, 72, 1);
    --cam: rgba(242, 113, 35, 1);
    --xanhbien: rgba(8, 80, 159, 1);
    --neutralgray-1: rgba(51, 51, 51, 1);
    --red-1: rgba(251, 78, 78, 1);
    --neutralgray-3: rgba(130, 130, 130, 1);
    --main-1: rgba(0, 121, 52, 1);
    --main-2: rgba(58, 181, 74, 1);
    --neutral-1: rgba(37, 40, 43, 1);
    --neutral-2: rgba(82, 87, 92, 1);
    --main2-80: rgba(0, 121, 52, 0.8);
    --neutralgray-4: rgba(242, 242, 242, 1);
    --neutral1-18: rgba(219, 219, 219, 1);
    --body-15-font-family: "Roboto", Helvetica;
    --body-15-font-weight: 400;
    --body-15-font-size: 15px;
    --body-15-letter-spacing: 0px;
    --body-15-line-height: 25px;
    --body-15-font-style: normal;
  }
  